
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.post-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.container-fluid{
    background-color: #000;
    color: #fff;
}

.card{
    background-color: #000 !important;
    width: 100%;
}

.card-comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.comment-author {
    margin: 0;
    font-weight: bold;
    color: #65a5f2;
}

.comment-text {
    margin: 5px 0 0 0;
    color: #ddd;
}

